## Data Merger

### Electricity Price

In [1]:
import pandas as pd

In [21]:
df1 = pd.read_csv('cleaned/e_price/output_e_22-23.csv', header=None, names=['Time','price'], parse_dates=['Time'], index_col='Time')

In [23]:
df2 = pd.read_csv('cleaned/e_price/output_e_23-24.csv', header=None, names=['Time','price'], parse_dates=['Time'], index_col='Time')

In [34]:
df_22 = df1.loc[df1.index < '2023-01-01 00:00:01']

In [37]:
df_23 = df2.loc[df2.index < '2024-01-01 00:00:01']

In [52]:
df_e = pd.concat([df_22, df_23])

In [53]:
df_e.head()

                      price
Time
2022-01-01 01:00:00  124.70
2022-01-01 02:00:00  124.70
2022-01-01 03:00:00  134.00
2022-01-01 04:00:00   58.80
2022-01-01 05:00:00   37.67

In [57]:
df_e.tail()

                     price
Time
2023-12-31 20:00:00  39.64
2023-12-31 21:00:00  34.89
2023-12-31 22:00:00  13.30
2023-12-31 23:00:00  10.68
2024-01-01 00:00:00   3.17

In [ ]:
df_e.to_pickle('output/day_ahead_price_electricity.')

### Wind Generation